@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Rajdhani', sans-serif;
    background-color: rgb(12, 12, 12);
    width: 100%;
}

button{
    width: 100px;
    padding: 8px;
    background-color: rgb(70, 70, 70);
    color: aquamarine;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

span{
    font-weight: 500;
    color: aquamarine;
}

.subheading h2{
    color: aquamarine;
    font-size: 50px;
    font-weight: 300;
}

.sec-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    row-gap: 20%;
}

.background{
    background: rgb(0, 0, 0, 0.5) url(mypic.jpg);
    background-size: cover;
    background-blend-mode: darken;
    width: 100%;
}

.nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav.navsc{
    background: rgb(70, 70, 70);
}

.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 9%;
    margin: 2%;
}

.nav ul li{
    display: flex;
}

.nav ul li a{
    text-decoration: none;
    color: white;
}

.nav ul li a:hover{
    color: aquamarine;
}

.intro{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 60px;
}

.intro h6{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-size: 70px;
}

#myname{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: aquamarine;
}

#web-p{
    display: flex;
    align-items: start;
    justify-content: center;
    column-gap: 10px;
    font-size: 40px;
    font-weight: 400;
}

#mypost{
    color: aquamarine;
}

.sec-6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 100px;
    height: 130vh;
    width: 100%;
}

.proj-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 50px;
    width: 100%;
}

.proj-cards{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 100px;
    row-gap: 100px;
    width: 95%;
}

.card{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: rgb(70, 70, 70);
    row-gap: 10px;
    padding: 10px 30px;
    background-image: url(SUI\ LOGO.png);
    background-size: cover;
    background-blend-mode: darken;
}

.card h3{
    margin-top: 80px;
}

.card h5{
    font-weight: 400;
}

.sec-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 100px;
    height: 100vh;
    width: 100%;
}


.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 122px;
    row-gap: 50px;
    grid-auto-flow: row;
    grid-template-areas:
      "education education education"
      "skills skills languages"
      "skills skills languages";
    width: 90%;
  }
  
  .education { grid-area: education; }
  
  .skills { grid-area: skills; }
  
  .languages { grid-area: languages; }
  

.education{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 100%;
}

.education h6{
    color: aquamarine;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.edu-box{
    display: flex;
    flex-direction: column;
    background-color: rgb(70, 70, 70);
    row-gap: 5px;
    padding: 20px;
    width: 100%;
}

#edu-date{
    font-size: 12px;
}

#edu-course{
    font-size: 20px;
    font-weight: 600;
}

#edu-college{
    font-size: 15px;
}

.skills{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.skills h6{
    color: aquamarine;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.web-d{ 
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
}

.front-end{
    display: flex;
    flex-direction: column;
    background-color: rgb(70, 70, 70);
    padding: 10px;
    width: 100%;
}

.front-end h6{
    font-size: 15px;
    color: white;
    width: 100%;
}

.front-end-list{
    display: flex;
    column-gap: 8%;
}

.front-end-list p{
    color: white;
    padding: 1%;
    font-weight: 700px;
}

.back-end{
    display: flex;
    flex-direction: column;
    background-color: rgb(70, 70, 70);
    padding: 10px;
    width: 100%;
}

.back-end h6{
    font-size: 15px;
    color: white;
}

.back-end-list{
    display: flex;
    column-gap: 8%;
}

.back-end-list p{
    color: white;
    padding: 5px;
    font-weight: 700px;
}

.languages{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    row-gap: 65px;
}

.prog-langs h6{
    color: aquamarine;
    font-size: 20px;
    font-weight: 400;
}

.p-langs{ 
    display: flex;
    flex-direction: row;
    color: white;
    column-gap: 10px;
}

.p-langs p{
    margin-top: 15px;
    background-color: rgb(70, 70, 70);
    padding: 8px;
}

.speak-langs h6{
    color: aquamarine;
    font-size: 20px;
    font-weight: 400;
}

.langs{ 
    display: flex;
    flex-direction: row;
    color: white;
    column-gap: 10px;
}

.langs p{
    margin-top: 15px;
    background-color: rgb(70, 70, 70);
    padding: 8px;
}

.sec-5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 100px;
    width: 100%;
    height: 100vh;
}

.about-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 70px;
}

.about-me{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.img img{
    height: 430px;
    width: 300px;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    width: 55%;
}

.about p{
    color: white;
    font-size: 20px;
}

.proj-stats{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 10%;
}

.count-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    width: 200px;
    background-color: rgb(70, 70, 70);
    color: white;
}

.count-box p{
    font-size: 40px;
    font-weight: 100;
}

.count-box h6{
    font-size: 10px;
    font-weight: 500;
}

.sec-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 100px;
    height: 100vh;
    width: 100%;
}

.contact{
    display: flex;
    column-gap: 100px;
    width: 90%;
}

.form{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.form input{
    padding: 15px;
    width: 200%;
    background-color:rgb(70, 70, 70);
    border: none;
    color: white;
}

.form textarea{
    padding: 15px;
    height: 200px;
    width: 200%;
    background-color:rgb(70, 70, 70);
    border: none;
    color: white;
}

.mssg{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;  
    color: white;
    font-size: 34px;
    width: 57%;
}

.sec-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(70, 70, 70);
    margin-top: 50px;
    width: 100%;
}

.foot-links{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 90%;
    column-gap: 15%;
    padding: 5%;
}

.secabt{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    width: 30%;
}

#navabt{
    font-size: 20px;
    color: aquamarine;
}

.secabt p{
    font-size: 17px;
    color: white;
}

.secnav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.secnav ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 20px;
}

.secnav ul li{
    display: flex;
}

.secnav ul li a{
    text-decoration: none;
    color: white;
}

.secnav ul li p{
    display: flex;
    font-size: 20px;
    color: aquamarine;
}

.secnav ul li a:hover{
    color: aquamarine;
}

.secsoc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.secsoc ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 20px;
}

.secsoc ul li{
    display: flex;
}

.secsoc ul li p{
    display: flex;
}

.secsoc ul li a{
    text-decoration: none;
    color: white;
}

.secsoc ul li p{
    display: flex;
    font-size: 20px;
    color: aquamarine;
}

.secsoc ul li a:hover{
    color: aquamarine;
}

.rights{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2%;
}